---
# Encrypt with: ansible-vault encrypt inventory/host_vars/hp1/vault.yml
ansible_become_password: "CHANGEME"   # root password (used with su -)
nas_samba_user_password: "CHANGEME"   # Samba password for raphael
