---
# Encrypt with: ansible-vault encrypt inventory/host_vars/hp1/vault.yml
ansible_become_password: "CHANGE_ME"   # root password (used with su -)
nas_samba_user_password: "CHANGE_ME"   # Samba password for raphael
nas_pihole_password:     "CHANGE_ME"   # Pi-hole web interface password
nas_gitlab_root_password:    "CHANGE_ME"   # GitLab root password (set on first run)
nas_gitlab_raphael_password: "CHANGE_ME"   # GitLab password for user raphael

# SSH private keys for raphael (used by Jenkins backup jobs to connect to remote servers)
# id_rsa = unencrypted private key
nas_ssh_private_key: |
  -----BEGIN OPENSSH PRIVATE KEY-----
  PASTE_CONTENT_OF_id_rsa_HERE
  -----END OPENSSH PRIVATE KEY-----

# id_rsa.pub = passphrase-protected private key (bcrypt, second key)
nas_ssh_private_key_2: |
  -----BEGIN OPENSSH PRIVATE KEY-----
  PASTE_CONTENT_OF_id_rsa.pub_HERE
  -----END OPENSSH PRIVATE KEY-----
